extends ../../layouts/master
block content
  h3= apartment.name 
  .row#apartment-new
    form(method='post' action='/apartments/#{apartment._id}')
      .col-xs-12
        .row
          .col-xs-12
            .form-group#name
              input(value=apartment.name, type='text', name='name', placeholder='Apartment Name' required autofocus)
      .col-xs-12
        .row
          .col-xs-12
            .form-group#photo
              input(value=apartment.photo type='url', name='photo', placeholder='Image: http://' required)
      .col-xs-12
        .row
          .col-xs-12
            .form-group#numRooms
              input(value=apartment.numRooms type='number', name='numRooms', placeholder='Number of Rooms' required)
      .col-xs-12
        .row
          .col-xs-12
            .form-group#roomPrice
              input(value=apartment.roomPrice type='number', name='roomPrice', placeholder='Room Rate' required)
      .col-xs-12
        .row
          .col-xs-12
            .form-group
              button.btn.btn-default(type='submit') Update
      
