extends ../../layouts/master
block content
    h3 Apartment Details
    
    button.btn.btn-default
      a(href='/apartments')
        span.glyphicon.glyphicon-chevron-left
    form#trash-form(method='post', action='/apartments/#{apartment._id}/delete')
      button(type='submit').btn.btn-danger
        i.fa.fa-trash-o
    button.btn.btn-info
      span.glyphicon.glyphicon-pencil
    
    .row
      .col-sm-4.col-xs-12.detail-page-col
        img(src='#{apartment.photo}')
        h3 #{apartment.name}
        p Starting at $ #{apartment.roomPrice}
        p Total Rooms #{apartment.numRooms}
        p Rooms Rented #{apartment.numRented}
